<template>
  <div>
    <a-icon class="icon" type="plus-circle" @click="dialogFormVisible = true"/>
      <a-modal title="添加/修改"
               :afterClose="clear"
               :visible.sync="dialogFormVisible"
               ok-text="确认"
               cancel-text="取消"
               @ok="onSubmit"
               @cancel="dialogFormVisible = false">
      <a-form-model
        :model="employee" ref="ruleEmployee" :rules="rules">
        <a-form-model-item ref="name" label="姓名" :label-width="formLabelWidth" prop="name">
          <a-input
            v-model="employee.name"
            placeholder="请输入姓名"
          />
        </a-form-model-item>
        <a-form-model-item label="性别" prop="sid">
          <a-radio-group v-model="employee.sex.id">
            <a-radio value="1">
              男
            </a-radio>
            <a-radio value="2">
              女
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
        <!--<a-form-model-item ref="sid" label="性别" :label-width="formLabelWidth" prop="sid">-->
          <!--<a-select v-model="employee.sex.id">-->
            <!--<a-select-option value="1">-->
              <!--男-->
            <!--</a-select-option>-->
            <!--<a-select-option value="2">-->
              <!--女-->
            <!--</a-select-option>-->
          <!--</a-select>-->
        <!--</a-form-model-item>-->
        <a-form-model-item label="出生日期" :label-width="formLabelWidth" prop="birth">
          <a-date-picker
            v-model="employee.birth"
            type="date"
            value-format="yy-MM-DD"
            dateFormat="yy-mm-dd"
            placeholder="请选择出生日期"
            style="width: 100%;"
          />
        </a-form-model-item>
        <a-form-model-item ref="phone" label="手机" :label-width="formLabelWidth" prop="phone">
          <a-input
            v-model="employee.phone"
            placeholder="请输入手机"
          />
        </a-form-model-item>
        <a-form-model-item label="部门" :label-width="formLabelWidth" prop="department">
          <a-select v-model="employee.department.id" placeholder="请选择部门">
            <a-select-option value="1">
              研发中心
            </a-select-option>
            <a-select-option value="2">
              质量管理部
            </a-select-option>
            <a-select-option value="3">
              系统集成部
            </a-select-option>
            <a-select-option value="4">
              运行管理中心
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="岗位" :label-width="formLabelWidth" prop="position">
          <a-select v-model="employee.position.id" placeholder="请选择岗位">
            <a-select-option value="1">
              软件开发工程师
            </a-select-option>
            <a-select-option value="2">
              测试工程师
            </a-select-option>
            <a-select-option value="3">
              系统集成工程师
            </a-select-option>
            <a-select-option value="4">
              运维工程师
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item ref="email" label="邮箱" :label-width="formLabelWidth" prop="email">
          <a-input
            v-model="employee.email"
            placeholder="请输入邮箱"
          />
        </a-form-model-item>
        <a-form-model-item label="照片" :label-width="formLabelWidth" prop="photo">
          <a-input v-model="employee.photo" placeholder="照片 URL"></a-input>
          <img-upload v-model="employee.photo" @onUpload="uploadImg" ref="imgUpload"></img-upload>
        </a-form-model-item>
        <a-form-model-item prop="id">
          <a-input type="hidden" v-model="employee.id"/>
        </a-form-model-item>
      </a-form-model>
    </a-modal>
  </div>
</template>

<script>
import ImgUpload from './ImgUpload'
export default {
  name: 'EditForm',
  components: {ImgUpload},
  data () {
    return {
      dialogFormVisible: false,
      employee: {
        id: '',
        name: '',
        sex: {
          id: '',
          value: ''
        },
        birth: '',
        phone: '',
        department: {
          id: '',
          value: ''
        },
        position: {
          id: '',
          value: ''
        },
        email: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, message: '请输入正确的姓名', trigger: 'blur' }
        ],
        sid: [
          { required: true, message: '请选择性别', trigger: 'blur' }
        ],
        phone: [
          { max: 11, min: 11, formatter: '[0-9]*', message: '请输入正确的11位手机号码', trigger: 'blur' }
        ],
        department: [
          {required: true, message: '请选择部门', trigger: 'change'}
        ],
        position: [
          {required: true, message: '请选择岗位', trigger: 'blur'}
        ]
      },
      formLabelWidth: '120px'
    }
  },
  methods: {
    clear () {
      this.employee = {
        id: '',
        name: '',
        sex: {},
        birth: '',
        phone: '',
        department: {},
        position: {},
        email: ''
        // ifvalid: true
      }
    },
    onSubmit () {
      this.$axios
        .post('/employee', {
          id: this.employee.id,
          name: this.employee.name,
          sex: this.employee.sex,
          birth: this.employee.birth,
          phone: this.employee.phone,
          department: this.employee.department,
          position: this.employee.position,
          email: this.employee.email,
          photo: this.employee.photo
        }).then(resp => {
          if (resp && resp.status === 200) {
            this.dialogFormVisible = false
            this.$emit('onSubmit')
          }
        })
    },
    uploadImg () {
      this.employee.photo = this.$refs.imgUpload.url
    }
  }
}
</script>

<style scoped>
  .icon {
    margin: 50px 0 0 20px;
    font-size: 100px;
    float: left;
    cursor: pointer;
  }
</style>
