<template>
  <!--<a-upload-->
    <!--class="img-upload"-->
    <!--ref="upload"-->
    <!--action="http://localhost:8443/api/photo"-->
    <!--:on-preview="handlePreview"-->
    <!--:on-remove="handleRemove"-->
    <!--:before-remove="beforeRemove"-->
    <!--:on-success="handleSuccess"-->
    <!--multiple-->
    <!--:limit="1"-->
    <!--:on-exceed="handleExceed"-->
    <!--:file-list="fileList">-->
    <!--<a-button size="small" type="primary">点击上传</a-button>-->
    <!--<div slot="tip" class="a-upload__tip">只能上传jpg/png文件，且不超过500kb</div>-->
  <!--</a-upload>-->
  <a-upload
    name="file"
    class="img-upload"
    action="http://localhost:8443/api/photo"
    :before-upload="beforeUpload"
    :file-list="fileList"
    @change="handleChange"
  >
    <a-button size="small" type="primary"> <a-icon type="upload" /> 点击上传 </a-button>
  </a-upload>
</template>

<script>
export default {
  name: 'ImgUpload',
  data () {
    return {
      fileList: [],
      url: ''
    }
  },
  methods: {
    beforeUpload (file) {
      const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isJpgOrPng || !isLt2M) {
        this.$message.error('只能上传jpg/png文件, 且图片大小不能超过 2MB!')
      } else {
        return isJpgOrPng && isLt2M
      }
    },
    handleChange (response) {
      let fileList = [...response.fileList]

      // 1. Limit the number of uploaded files
      //    Only to show the recent uploaded files, and old ones will be replaced by the new
      fileList = fileList.slice(-1)
      fileList = fileList.map(file => {
        if (file.response) {
          // Component will show file.url as link
          file.url = file.response.url
        }
        return file
      })
      this.fileList = fileList

      this.url = response.file.response
      this.$emit('onUpload')

      if (response.file.status !== 'uploading') {
        console.log('file', response.file, 'fileList', response.fileList)
      }
      if (response.file.status === 'done') {
        this.$message.success(`${response.file.name} 文件成功上传`)
        // console.log('file', response.file, 'fileList', response.fileList);
      } else if (response.file.status === 'error') {
        this.$message.error(`${response.file.name} 文件上传失败.`)
      }
    },
    handleRemove (file, fileList) {
    },
    handlePreview (file) {
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },
    handleSuccess (response) {
      this.url = response
      this.$emit('onUpload')
      this.$message.warning('上传成功')
    },
    clear () {
      this.$refs.upload.clearFiles()
    }
  }
}
</script>

<style scoped>

</style>
