<template>
  <div>
    <a-row style="height: 840px;">
      <search-bar @onSearch="searchResult" ref="searchBar"></search-bar>
      <a-tooltip effect="dark" placement="right"
                  v-for="item in employee.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                  :key="item.id"
                 :pagination="pagination">
        <a-card style="margin-bottom: 20px;height: 233px;float: left;margin-right: 15px" class="employee"
                 bodyStyle="padding:10px" shadow="hover">
          <div class="photo" @click="editEmployee(item)">
            <img :src="item.photo" alt="照片">
          </div>
          <div class="info">
            <div>
              <a href="" class="name">{{item.name}}</a>
              <a-divider type='vertical' />
              <span class="sex">{{item.sex.value}}</span>
            </div>
            <div>
              <span class="department">{{item.department.value}}</span>
              <a-divider type='vertical' />
            <a-icon type="delete" @click="deleteEmployee(item.id)"/>
            </div>
          </div>
        </a-card>
      </a-tooltip>
      <edit-form @onSubmit="loadEmployee()" ref="edit"></edit-form>
    </a-row>
    <a-row>
      <a-pagination
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-size="pagesize"
        :total="employee.length"
      :showTotal="total => `共 ${total} 条数据`">
      </a-pagination>
      <!--<a-pagination-->
        <!--:v-model="current"-->
        <!--:page-size-options="pageSizeOptions"-->
        <!--:total="employee.length"-->
        <!--show-size-changer-->
        <!--:defaultPageSize="10"-->
        <!--:pageSizeOptions="['5', '10', '15', '20']"-->
        <!--@showSizeChange="onShowSizeChange"-->
        <!--:showTotal="total => `共 ${total} 条数据`">-->
      <!--</a-pagination>-->
    </a-row>
  </div>
</template>

<script>
import EditForm from './EditForm'
import SearchBar from './SearchBar'
export default {
  name: 'PhotoIndex',
  components: {EditForm, SearchBar},
  data () {
    return {
      employee: [],
      currentPage: 1,
      pagesize: 17
    }
  },
  mounted: {
    function () {
      this.loadEmployee()
    }
  },
  created () {
    this.$axios.get('/employee').then((response) => {
      this.employee = response.data
      console.log(response.data)
    })
  },
  methods: {
    onShowSizeChange (current, pageSize) {
      console.log(current, pageSize)
    },
    loadEmployee () {
      var _this = this
      this.$axios.get('/employee').then(resp => {
        if (resp && resp.status === 200) {
          _this.employee = resp.data
        }
      })
    },
    handleCurrentChange: function (currentPage) {
      this.currentPage = currentPage
      console.log(this.currentPage)
    },
    searchResult () {
      var _this = this
      this.$axios
        .get('/search?keywords=' + this.$refs.searchBar.keywords, {
        }).then(resp => {
          if (resp && resp.status === 200) {
            _this.employee = resp.data
          }
        }).catch()
    },
    // searchResult () {
    //   var _this = this
    //   this.$axios
    //     .post('/search', {
    //       keywords: this.$refs.searchBar.keywords
    //     }).then(resp => {
    //     if (resp && resp.status === 200) {
    //       _this.employee = resp.data
    //     }
    //   })
    // },
    // deleteEmployee (id) {
    //   this.$confirm('此操作将永久删除该信息, 是否继续?', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //       this.$axios
    //         .post('/delete', {id: id}).then(resp => {
    //         if (resp && resp.status === 200) {
    //           this.loadEmployee()
    //         }
    //       })
    //     }
    //   ).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '已取消删除'
    //     })
    //   })
    //   // alert(id)
    // },
    deleteEmployee (id) {
      this.$axios.post('/delete', {id: id}).then(resp => {
        if (resp && resp.status === 200) {
          this.loadEmployee()
        }
      })
    },
    editEmployee (item) {
      this.$refs.edit.dialogFormVisible = true
      this.$refs.edit.employee = {
        id: item.id,
        name: item.name,
        sex: {
          id: item.sex.id.toString(),
          value: item.sex.value
        },
        birth: item.birth,
        phone: item.phone,
        department: {
          id: item.department.id.toString(),
          value: item.department.value
        },
        position: {
          id: item.position.id.toString(),
          value: item.position.value
        },
        email: item.email,
        photo: item.photo
      }
    }
  }
}
</script>

<style scoped>
  img {
    width: 130px;
    height: 172px;
    /*margin: 0 auto;*/
  }
  .photo {
    width: 115px;
    height: 172px;
    margin-bottom: 7px;
    overflow: hidden;
    cursor: pointer;
  }
  .name {
    font-size: 14px;
    text-align: left;
  }
</style>
