/**
* @author  Mengxue
* @version: 2.0
* @Description: ANTD VUE用户注册界面, 访问地址：localhost:8080/antd
*/
<template>
  <div>
    <a-layout id="components-layout-demo-top" class="layout">
      <a-layout-header style="{ padding-bottom:10%;width:100%;position: fixed;top:0px;left:0px}">
        <div class="logo" />
        <a-menu
          theme="dark"
          mode="horizontal"
          :default-selected-keys="['1']"
          :style="{ lineHeight: '64px' }"
        >
          <a-menu-item :key="tab.value"  v-for="tab in tabs"
                       :class="['tab-button', { active: currentTab === tab.value }]"
                       @click="currentTab = tab.value">
            {{ tab.text }}
          </a-menu-item>
        </a-menu>
      </a-layout-header>
      <a-layout-content style="padding: 0 50px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item :key="tab.value"  v-for="tab in tabs"
                             :class="['tab-button', { active: currentTab === tab.value }]"
                             @click="currentTab = tab.value"> {{ tab.text }}</a-breadcrumb-item>
        </a-breadcrumb>
        <div :style="{ background: '#fff', padding: '24px', minHeight: '500px' }">
          <component :is="currentTabComponent" class="tab"
                     :employeeList="employeeList" :employee="employee"
                     @updateEmployeeList="updateEmployeeListInfo($event)">
          </component>
        </div>
      </a-layout-content>
      <div style="height:10%;"></div>
      <a-layout-footer style="text-align: center; height:10%;width:100%;position:fixed;bottom:0px;left:0px">
        Ant Design Demo
      </a-layout-footer>
    </a-layout>
  </div>
</template>

<script>
import TabHome from '../vue/TabHome'
import TabRegistration from '../vue/TabRegistration'
import TabList from '../vue/TabList'
export default {
  data () {
    return {
      collapsed: false,
      currentTab: 'Home',
      tabs: [
        {text: '主页', value: 'Home'},
        {text: '创建新用户', value: 'Registration'},
        {text: '员工列表', value: 'List'}
      ],
      employeeList: [
        {name: '张三', sex: '男', age: 20, phone: '18932323232', department: '研发中心', position: '软件工程师', hobby: ['运动', '编程'], comments: '管理员'},
        {name: '李四', sex: '男', age: 30, phone: '18921212122', department: '运行管理中心', position: '运维工程师', hobby: ['音乐'], comments: ''},
        {name: '王五', sex: '男', age: 20, phone: '18932223232', department: '研发中心', position: '软件工程师', hobby: ['编程'], comments: ''},
        {name: '赵六', sex: '女', age: 25, phone: '18932322232', department: '系统集成部', position: '系统集成工程师', hobby: ['编程'], comments: ''}
      ],
      employee: {name: '', sex: '', age: '', phone: '', department: '', position: '', hobby: [], comments: ''}
    }
  },
  components: {
    'tab-home': TabHome,
    'tab-registration': TabRegistration,
    'tab-list': TabList
  },
  methods: {
    // 父组件接收子组件TabRegistration中更新（增加新员工信息）后的Employees列表信息
    updateEmployeeListInfo (listMsg) {
      this.employees = listMsg
    },
    clearEmployeeInfo (msg) {
      this.employee = msg
    }
  },
  computed: {
    currentTabComponent: function () {
      return 'tab-' + this.currentTab.toLowerCase()
    }
  }
}
</script>

<style scoped>
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
</style>
