/**
* @author  Mengxue
* @version: 2.1
* @Description: ANTD VUE用户注册表单组件-展示列表
*/
<template>
  <div>
    <h1>用户列表</h1>
    <br/>
    <span style="margin-left: 8px">
      <template v-if="hasSelected">{{`Selected $(selectedRowKeys.length) items`}}</template>
    </span>
    <!-- 显示的表格 -->
  <a-table :columns="columns" :data-source="data" bordered  :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
    <template
      v-for="col in ['name', 'sex', 'birth', 'phone', 'department', 'position', 'hobby', 'remarks']"
      :slot="col"
      slot-scope="text, record, index"
    >
      <div :key="col">
        <a-input
          v-if="record.editable"
          style="margin: -5px 0"
          :value="text"
          @change="e => handleChange(e.target.value, record.key, col)"
        />
        <template v-else>
          {{ text }}
        </template>
      </div>
    </template>
    <template slot="operation" slot-scope="text, record, index">
      <div class="editable-row-operations">
        <span v-if="record.editable">
           <a @click="() => save(record.key)">保存</a>
            <a-popconfirm
              title="确定取消?"
              okText="确定"
              cancelText="取消"
              @confirm="() => cancel(record.key)"
            >
              <a>取消</a>
            </a-popconfirm>
        </span>
        <span v-else>
          <a :disabled="editingKey !== ''" @click="() => edit(record.key)">修改</a>
          <!--<a @click="() => onDelete(record.key)">Delete</a>-->
          <a-popconfirm v-if="data.length" title="确认删除?" @confirm="() => onDelete(record.key)">
            <a>删除</a>
          </a-popconfirm>
        </span>
      </div>
    </template>
  </a-table>
  </div>
</template>

<script>
const columns = [
  {
    title: '姓名',
    dataIndex: 'name',
    width: '10%',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: '性别',
    dataIndex: 'sex',
    width: '8%',
    scopedSlots: { customRender: 'sex' }
  },
  {
    title: '生日',
    dataIndex: 'birth',
    width: '10%',
    scopedSlots: { customRender: 'birth' }
  },
  {
    title: '电话',
    dataIndex: 'phone',
    width: '13%',
    scopedSlots: { customRender: 'phone' }
  },
  {
    title: '部门',
    dataIndex: 'department',
    width: '10%',
    scopedSlots: { customRender: 'department' }
  },
  {
    title: '岗位',
    dataIndex: 'position',
    width: '10%',
    scopedSlots: { customRender: 'position' }
  },
  {
    title: '爱好',
    dataIndex: 'hobby',
    width: '15%',
    scopedSlots: { customRender: 'hobby' }
  },
  {
    title: '备注',
    dataIndex: 'remarks',
    width: '12%',
    scopedSlots: { customRender: 'remarks' }
  },
  {
    title: '操作',
    dataIndex: 'operation',
    scopedSlots: { customRender: 'operation' }
  }
]
// 列表绑定的数组
const data = []
// for (let i = 0; i < 100; i++) {
//   data.push({
//     key: i.toString(),
//     name: `Edrward ${i}`,
//     age: 32,
//     address: `London no. ${i}`
//   })
// }
export default {
  name: 'AntdvueList',
  props: {
    employeeList: {
      type: Array,
      required: true
    },
    employee: {
      type: Object,
      required: true
    }
  },
  data () {
    // 使用ES6语法将数组里的值单列出来
    this.cacheData = data.map(item => ({ ...item }))
    return {
      // employeeList,
      data: this.employeeList,
      columns,
      editingKey: '',
      selectedRowKeys: []
    }
  },
  methods: {
    handleChange (value, key, column) {
      const newData = [...this.data]
      const target = newData.filter(item => key === item.key)[0]
      if (target) {
        target[column] = value
        this.data = newData
      }
    },
    edit (key) {
      const newData = [...this.data]
      const target = newData.filter(item => key === item.key)[0]
      this.editingKey = key
      if (target) {
        target.editable = true
        this.data = newData
      }
    },
    save (key) {
      const newData = [...this.data]
      const newCacheData = [...this.cacheData]
      const target = newData.filter(item => key === item.key)[0]
      const targetCache = newCacheData.filter(item => key === item.key)[0]
      if (target && targetCache) {
        delete target.editable
        this.data = newData
        Object.assign(targetCache, target)
        this.cacheData = newCacheData
      }
      this.editingKey = ''
    },
    cancel (key) {
      const newData = [...this.data]
      const target = newData.filter(item => key === item.key)[0]
      this.editingKey = ''
      if (target) {
        Object.assign(target, this.cacheData.filter(item => key === item.key)[0])
        delete target.editable
        this.data = newData
      }
    },
    onSelectChange (selectedRowKeys) {
      console.log('selectedRowKeys changed:', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    onDelete (key) {
      this.employeeList.splice(key, 1)
    }
  },
  computed: {
    hasSelected () {
      return this.selectedRowKeys.length > 0
    }
  }
}
</script>

<style scoped>
  .editable-row-operations a {
    margin-right: 8px;
  }
</style>
