/**
* @author  Mengxue
* @version: 2.1
* @Description: ANTD VUE用户注册表单组件-注册页面
*/
<template>
  <a-form-model
    ref="ruleEmployee"
    :model="employee"
    :rules="rules"
    :label-col="labelCol"
    :wrapper-col="wrapperCol"
  >
    <h1>创建用户</h1>
    <a-form-model-item ref="name" label="姓名" prop="name">
      <a-input
        v-model="employee.name"
        placeholder="请输入姓名"
        @blur="
          () => {
            $refs.name.onFieldBlur();
          }
        "
      />
    </a-form-model-item>
    <a-form-model-item label="性别" prop="sex">
      <a-radio-group v-model="employee.sex">
        <a-radio value="男">
          男
        </a-radio>
        <a-radio value="女">
          女
        </a-radio>
      </a-radio-group>
    </a-form-model-item>
    <a-form-model-item label="出生日期" prop="birth">
      <a-date-picker
        v-model="employee.birth"
        type="date"
        value-format="yy-MM-DD"
        dateFormat="yy-mm-dd"
        placeholder="请选择出生日期"
        style="width: 100%;"
      />
    </a-form-model-item>
    <a-form-model-item ref="phone" label="手机" prop="phone">
      <a-input
        v-model="employee.phone"
        placeholder="请输入手机"
      />
    </a-form-model-item>
    <a-form-model-item label="部门" prop="department">
      <a-select v-model="employee.department" placeholder="请选择部门">
        <a-select-option value="研发中心">
          研发中心
        </a-select-option>
        <a-select-option value="质量管理部">
          质量管理部
        </a-select-option>
        <a-select-option value="系统集成部">
          系统集成部
        </a-select-option>
        <a-select-option value="运行管理中心">
          运行管理中心
        </a-select-option>
      </a-select>
    </a-form-model-item>
    <a-form-model-item label="岗位" prop="position">
      <a-select v-model="employee.position" placeholder="请选择岗位">
        <a-select-option value="软件开发工程师">
          软件开发工程师
        </a-select-option>
        <a-select-option value="测试工程师">
          测试工程师
        </a-select-option>
        <a-select-option value="系统集成工程师">
          系统集成工程师
        </a-select-option>
        <a-select-option value="运维工程师">
          运维工程师
        </a-select-option>
      </a-select>
    </a-form-model-item>
    <a-form-model-item label="爱好" prop="hobby">
      <a-checkbox-group v-model="employee.hobby">
        <a-checkbox value="运动" name="hobby">
         运动
        </a-checkbox>
        <a-checkbox value="音乐" name="hobby">
          音乐
        </a-checkbox>
        <a-checkbox value="编程" name="hobby">
          编程
        </a-checkbox>
      </a-checkbox-group>
    </a-form-model-item>
    <a-form-model-item label="备注" prop="remarks">
      <a-input v-model="employee.remarks" type="textarea" />
    </a-form-model-item>
    <!--<a-form-model-item label="用户有效性" prop="validation">-->
      <!--<a-switch v-model="employee.validation" />-->
    <!--</a-form-model-item>-->
    <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="primary" @click="onSubmit(),createEmployee()">
        创建用户
      </a-button>
      <a-button style="margin-left: 10px;" @click="resetForm">
        取消
      </a-button>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
import AntdvueList from './AntdvueList'
export default {
  name: 'AntdvueRegistration',
  components: {
    'antdvue-list': AntdvueList
  },
  props: {
    employeeList: {
      type: Array,
      required: true
    },
    employee: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      other: '',
      count: 4,
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, message: '请输入正确的姓名', trigger: 'blur' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        phone: [
          { max: 11, min: 11, formatter: '[0-9]*', message: '请输入正确的11位手机号码', trigger: 'blur' }
        ],
        department: [
          {required: true, message: '请选择部门', trigger: 'change'}
        ],
        position: [
          {required: true, message: '请选择岗位', trigger: 'change'}
        ],
        hobby: [
          {
            type: 'array'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit () {
      this.$refs.ruleEmployee.validate(valid => {
        if (valid) {
          alert('用户已成功创建!')
        } else {
          console.log('用户创建失败!!')
          return false
        }
      })
    },
    resetForm () {
      this.$refs.ruleEmployee.resetFields()
    },
    createEmployee () {
      const count = this.count
      let emp1 = this.employee
      emp1.key = this.count.toString()
      this.employeeList.push(emp1)
      this.count = count + 1
      let emp = this.employee
      emp = { key: this.count.toString(), name: '', sex: '', birth: '', phone: '', department: '', position: '', hobby: [], remarks: '' }
      this.$emit('updateEmployeeList', this.employeeList)
      this.$emit('clearEmployee', emp)
      this.employee = emp
    }
  }
}
</script>

<style scoped>

</style>
