/**
* @author  Mengxue
* @version: 1.0
* @Description: VUE用户注册表单组件-注册页面
*/
<template>
  <!--信息录入-->
  <fieldset class="registration">
    <legend>员工信息录入</legend>
    <div>
      <label class="title">姓名</label>
      <input type="text" placeholder="请输入姓名" v-model="employee.name" class="info">
    </div>
    <br/>
    <div>
      <label class="title">性别</label>
      <input type="radio" id="male" value="男" v-model="employee.sex" class="info">
      <label for="male">男</label>
      <input type="radio" id="female" value="女" v-model="employee.sex" class="info">
      <label for="female">女</label>
    </div>
    <br/>
    <div>
      <label class="title">年龄</label>
      <input type="text" placeholder="请输入年龄" v-model="employee.age" class="info">
    </div>
    <br/>
    <div>
      <label class="title">手机</label>
      <input type="text" placeholder="请输入手机" v-model="employee.phone" @input="inputPhone" class="info">
      <p v-show="phoneerrmsg"><span>{{ phoneerrmsg }}</span></p>
    </div>
    <br/>
    <div>
      <label class="title">部门</label>
      <select v-model="employee.department" class="info">
        <option disabled value="">请选择部门</option>
        <option>研发中心</option>
        <option>质量管理部</option>
        <option>系统集成部</option>
        <option>运行管理中心</option>
      </select>
      <span>已选择：{{ employee.department }}</span>
    </div>
    <br/>
    <div>
      <label class="title">岗位</label>
      <select v-model="employee.position" class="info">
        <option disabled value="">请选择岗位</option>
        <option>软件工程师</option>
        <option>测试工程师</option>
        <option>系统集成工程师</option>
        <option>运维工程师</option>
      </select>
      <span>已选择：{{ employee.position }}</span>
    </div>
    <br/>
    <div>
      <label class="title">爱好</label>
      <input type="checkbox" id="sport" value="运动" v-model="employee.hobby" class="info"/>
      <label for="sport">运动</label>
      <input type="checkbox" id="music" value="音乐" v-model="employee.hobby" class="info"/>
      <label for="music">音乐</label>
      <input type="checkbox" id="code" value="编程" v-model="employee.hobby" class="info"/>
      <label for="code">编程</label>
      <br />
    </div>
    <br/>
    <div>
      <label  class="title">备注</label>
      <textarea v-model="employee.comments" placeholder="备注" class="info"></textarea>
    </div>
    <br/>
    <button @click="createEmployee()" class="btn">创建新员工</button>
  </fieldset>
</template>

<script>
export default {
  name: 'TabRegistration',
  props: {
    employeeList: {
      type: Array,
      required: true
    },
    employee: {
      type: Object,
      required: true
    },
    phoneerrmsg: ''
  },
  date () {
    return {
      showModal: false
    }
  },
  methods: {
    inputPhone () {
      this.phoneerrmsg = ''
      // let filtered = e.target.value.replace(/^0|[^\d]/g, '')
      // if (this.employee.phone !== filtered) {
      //   this.employee.phone = filtered
      // }
      // console.log(this.employee.phone.length, this.employee.phone, e)

      let reg = /^1[0-9][0-9]{9}$/
      if (this.employee.phone.length === 0) {
        this.phoneerrmsg = '请输入手机号'
        return false
      } else if (!reg.test(this.employee.phone)) {
        this.phoneerrmsg = '请输入正确的手机号!'
        return false
      } else {
        this.phoneerrmsg = ''
      }
    },
    createEmployee () {
      if (this.employee.name === '') {
        alert('姓名不能为空')
        return
      }
      if (this.employee.sex === '') {
        alert('请选择性别')
        return
      }
      this.employeeList.push(this.employee)
      this.employee = {name: '', sex: '', age: '', phone: '', department: '', position: '', hobby: [], comments: ''}
      // 将更新后的员工列表信息和当前页面员工信息（已清零）传给父组件
      this.$emit('updateEmployeeList', this.employeeList)
      this.$emit('clearEmployee', this.employee)
    }
  }
}
</script>

<style scoped>
  @import url("../../assets/demoForm.css");
</style>
