/**
* @author  Mengxue
* @version: 3.0
* @Description: ANTD VUE用户注册表单组件-展示列表
*/
<template>
  <div>
    <a-button class='editable-add-btn' @click='handleAdd'>添加用户</a-button>
    <br/>
    <a-table bordered :dataSource='dataSource' :columns='columns' :scroll='{ x:1200 }'>
      <template slot='name' slot-scope='text, record'>
        <editable-cell
          :ref='`name_${record.key}`'
          :defaultEditable='record.editable'
          :autoSave='true'
          :required='true'
          :decoratorOptions='rules.name'
          placeholder='请输入'
          :value='text'
          :text='text'
          @valueChange="onCellChange(record.key, 'name', $event)"
        />
      </template>

      <template slot='sex' slot-scope='text, record'>
        <editable-cell
          :ref='`sexCode_${record.key}`'
          formType='select'
          :defaultEditable='record.editable'
          :required='true'
          :autoSave='true'
          message='请选择性别'
          :value='record.sexCode.key'
          :text='record.sexCode.label'
          :model='record.sexCode.label'
          @selectChange="onCellChange(record.key, 'sexCode', $event)"
        >
          <a-select-option value='01'>男</a-select-option>
          <a-select-option value='02'>女</a-select-option>
        </editable-cell>
      </template>

      <template slot='birth' slot-scope='text, record'>
        <editable-cell
          :ref='`birth_${record.key}`'
          formType='datePicker'
          :defaultEditable='record.editable'
          :required='true'
          placeholder='请输入生日'
          :value="record.birth!==''?moment(record.birth, dateFormat):''"
          :text='text'
        />
      </template>

      <template slot="phone" slot-scope="text, record">
        <editable-cell
          :ref="`phone_${record.key}`"
          :defaultEditable="record.editable"
          :autoSave="true"
          :decoratorOptions="rules.phone"
          placeholder="请输入电话"
          :value="text"
          :text="text"
          @valueChange="onCellChange(record.key, 'phone', $event)"
        />
      </template>

      <template slot='department' slot-scope='text, record'>
        <editable-cell
          :ref='`departmentCode_${record.key}`'
          formType='select'
          :defaultEditable='record.editable'
          :required='true'
          :autoSave='true'
          message='请选择部门'
          :value='record.departmentCode.key'
          :text='record.departmentCode.label'
          @selectChange="onCellChange(record.key, 'departmentCode', $event)"
        >
          <a-select-option value='01'>研发中心</a-select-option>
          <a-select-option value='02'>质量管理部</a-select-option>
          <a-select-option value='03'>系统集成部</a-select-option>
          <a-select-option value='04'>运行管理中心</a-select-option>
        </editable-cell>
      </template>

      <template slot='position' slot-scope='text, record'>
        <editable-cell
          :ref='`positionCode_${record.key}`'
          formType='select'
          :defaultEditable='record.editable'
          :required='true'
          :autoSave='true'
          message='请选择岗位'
          :value='record.positionCode.key'
          :text='record.positionCode.label'
          @selectChange="onCellChange(record.key, 'positionCode', $event)"
        >
          <a-select-option value='01'>软件开发工程师</a-select-option>
          <a-select-option value='02'>测试工程师</a-select-option>
          <a-select-option value='03'>系统集成工程师</a-select-option>
          <a-select-option value='04'>运维工程师</a-select-option>
        </editable-cell>
      </template>

      <template slot='email' slot-scope='text, record'>
        <editable-cell
          :ref='`email_${record.key}`'
          :defaultEditable='record.editable'
          :required='true'
          formType='autoComplete'
          :decoratorOptions='rules.email'
          placeholder='请输入'
          :value='text'
          :text='text'
          @autoCompleteSearch='handleSearch($event,record.key)'
        >
          <a-select-option
            v-for='email in emailList'
            :key='email'
            :text='email'
            :value='email'
          >{{email}}</a-select-option>
        </editable-cell>
      </template>

      <!--<template slot='ifvalid' slot-scope='text, record'>-->
        <!--<editable-cell-->
          <!--:ref='`ifvalid_${record.key}`'-->
          <!--formType='switch'-->
          <!--:defaultEditable='record.editable'-->
          <!--:decoratorOptions='rules.ifvalid'-->
          <!--:required='true'-->
          <!--message='请选择是否有效'-->
          <!--:value='text'-->
          <!--:text="text?'有效':'无效'"-->
        <!--/>-->
      <!--</template>-->

      <template slot='operation' slot-scope='text, record'>
        <div class='editable-row-operations'>
          <span v-if='record.editable'>
            <a @click='() => save(record.key)'>保存</a>
            <a-divider type='vertical' />
            <a-popconfirm title='Sure to cancel?' @confirm='() => cancel(record.key)'>
              <a>取消</a>
              <a-divider type='vertical' />
            </a-popconfirm>
          </span>
          <span v-else>
            <a @click='() => edit(record.key)'>编辑</a>
            <a-divider type='vertical' />
          </span>
          <a-popconfirm
            v-if='dataSource.length'
            title='Sure to delete?'
            @confirm='() => onDelete(record.key)'
          >
            <span>
              <a href='javascript:;'>删除</a>
            </span>
          </a-popconfirm>
        </div>
      </template>
    </a-table>

    <a-button type='primary' @click='handleSave'>提交</a-button>
    <ul>
      <li>
        当前行数据：
        <pre>{{JSON.stringify(signData,null,2)}}</pre>
      </li>
      <li>
        批量多行数据：
        <pre>{{JSON.stringify(mulData,null,2)}}</pre>
      </li>
    </ul>
  </div>
</template>

<script>
import EditableCell from './Cell'
import moment from 'moment'
export default {
  name: 'Editablecell',
  components: {
    EditableCell
  },
  data () {
    return {
      signData: [],
      mulData: [],
      dateFormat: 'YYYY-MM-DD',
      dataSource: [
        {
          key: '0',
          name: '张三',
          sexCode: {
            key: '01',
            label: '男'
          },
          birth: '1989-10-20',
          phone: '18932323232',
          departmentCode: {
            key: '01',
            label: '研发中心'
          },
          positionCode: {
            key: '01',
            label: '软件开发工程师'
          },
          email: '123456@163.com'
          // ifvalid: true
        },
        {
          key: '1',
          name: '李四',
          sexCode: {
            key: '02',
            label: '女'
          },
          birth: '1991-11-20',
          phone: '18911111111',
          departmentCode: {
            key: '03',
            label: '系统集成部'
          },
          positionCode: {
            key: '03',
            label: '系统集成工程师'
          },
          email: 'email@avic-digital.com'
          // ifvalid: true
        }
      ],
      count: 2,
      columns: [
        {
          title: 'ID',
          dataIndex: 'key',
          width: '5%'
        },
        {
          title: '姓名',
          dataIndex: 'name',
          width: '8%',
          scopedSlots: { customRender: 'name' }
        },
        {
          title: '性别',
          dataIndex: 'sex',
          width: '6%',
          scopedSlots: { customRender: 'sex' }
        },
        {
          title: '生日',
          dataIndex: 'birth',
          width: '10%',
          scopedSlots: { customRender: 'birth' }
        },
        {
          title: '电话',
          dataIndex: 'phone',
          width: '10%',
          scopedSlots: { customRender: 'phone' }
        },
        {
          title: '部门',
          dataIndex: 'department',
          width: '10%',
          scopedSlots: { customRender: 'department' }
        },
        {
          title: '岗位',
          dataIndex: 'position',
          width: '15%',
          scopedSlots: { customRender: 'position' }
        },
        {
          title: '邮箱',
          dataIndex: 'email',
          scopedSlots: { customRender: 'email' }
        },
        // {
        //   title: '有效性',
        //   dataIndex: 'ifvalid',
        //   width: '8%',
        //   scopedSlots: { customRender: 'ifvalid' }
        // },
        {
          title: '操作',
          dataIndex: 'operation',
          width: '10%',
          scopedSlots: { customRender: 'operation' }
        }
      ],
      fields: [
        'name',
        'sexCode',
        'birth',
        'phone',
        'departmentCode',
        'positionCode',
        'email'
        // 'ifvalid'
      ],
      rules: {
        name: {
          rules: [
            { required: true, message: '请输入姓名', trigger: 'blur' },
            { min: 2, message: '请输入正确的姓名', trigger: 'blur' }
          ]
        },
        phone: {
          rules: [
            {
              max: 11, min: 11, pattern: '[0-9]*', message: '请输入正确的11位手机号码', trigger: 'blur'
            }
          ]
        }
        // ifvalid: {
        //   valuePropName: 'checked'
        // }
      },
      emailList: []
    }
  },
  methods: {
    moment,
    // 模糊搜索
    handleSearch (value) {
      let result
      if (!value || value.indexOf('@') >= 0) {
        result = []
      } else {
        result = ['avic-digital.com', 'gmail.com', '163.com', 'qq.com'].map(
          domain => `${value}@${domain}`
        )
      }
      this.emailList = result
    },
    // input Change事件
    onCellChange (key, dataIndex, value) {
      const dataSource = [...this.dataSource]
      const target = dataSource.find(item => item.key === key)
      if (target) {
        target[dataIndex] = value
        this.dataSource = dataSource
      }
    },
    // 删除
    onDelete (key) {
      // 拷贝数组数据
      const dataSource = [...this.dataSource]
      // 过滤移除当前项目
      this.dataSource = dataSource.filter(item => item.key !== key)
    },
    // 点击编辑
    edit (key) {
      const newData = [...this.dataSource]
      const target = newData.filter(item => key === item.key)[0]
      if (target) {
        target.editable = true
        this.dataSource = newData
      }
    },
    // 点击保存
    save (key) {
      this.validateRow(key, this.fields, (err, values) => {
        if (!err) {
          values.birth = values.birth.format('YYYY-MM-DD')
          const newData = [...this.dataSource]
          const row = newData.find(item => key === item.key)
          if (row) {
            // 用户数据合并到原对象上
            Object.assign(row, values)
            delete row.editable
            this.signData = row
            // target 保存了最新行数据，可以提价到后台
            this.dataSource = newData
          }
        }
      })
    },
    // 点击取消
    cancel (key) {
      const newData = [...this.dataSource]
      const target = newData.filter(item => key === item.key)[0]
      if (target) {
        delete target.editable
        this.dataSource = newData
      }
    },
    // validateRow可以提取为公共函数
    validateRow (key, fields, callback) {
      // 查找验证是否通过
      const row = {}
      let err = false
      // forEach 对每一个验证，可以更改为some满足一个就提醒
      fields.forEach(filed => {
        let refName = `${filed}_${key}`
        let result = this.$refs[refName].validate()
        row[filed] = result.value
        if (!result.success) {
          err = true
        }
      })
      callback(err, row)
    },
    // 批量提交保存数据
    handleSave () {
      const newData = [...this.dataSource]
      // 找出处于可编辑行
      const rows = newData.filter(row => {
        return row.editable
      })
      let count = 0
      // 一个个校验行
      rows.forEach(row => {
        this.validateRow(row.key, this.fields, (err, values) => {
          if (!err) {
            values.birth = values.birth.format('YYYY-MM-DD')
            // 行记录数据合并到row中
            Object.assign(row, values)
            count++
          }
        })
      })
      // 最终数据在rows中;
      if (rows.length === count) {
        // 数据在rows,提交数据
        this.mulData = rows
      }
    },
    // 点击提交
    handleAdd () {
      const { count, dataSource } = this
      const newData = {
        key: count,
        name: '',
        sexCode: {
          key: '01',
          label: '男'
        },
        birth: moment().format('YYYY-MM-DD'),
        phone: '',
        departmentCode: {
          key: '03',
          label: '系统集成部'
        },
        positionCode: {
          key: '03',
          label: '系统集成工程师'
        },
        email: '',
        // ifvalid: true,
        editable: true
      }
      this.dataSource = [...dataSource, newData]
      this.count = count + 1
    }
  }
}
</script>
.editable-row-operations a {
margin-right: 8px;
}
li {
text-align: left;
}
pre {
padding: 10px;
background-color: rgba(0, 0, 0, 0.65);
color: #ccc;
}
<style scoped>

</style>
