legend {
  text-align: left;
  font-size: 20px;
}
.btn {
  width: 100px;
  height: 40px;
  border-width: 0px;
  border-radius: 3px;
  background: #66AFE9;
  cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
  outline: none; /* 不显示轮廓线 */
  color: white;
  font-size: 14px;
}
.btn:hover {
  background: #5599FF;
}
.btn:active {
  background: #5599FF;
}

label.title {
  font-weight: bold;
}
.infoList {
  padding: 6px;
  background-color: transparent;
  border: none;
  width: 115px;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
}
.info {
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px #ccc;
  box-shadow: inset 0 1px 1px #ccc;
}
.info:focus,
.infoList:focus {
  border-color: #5599FF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #ccc,0 0 8px #66AFE9;
  box-shadow: inset 0 1px 1px #ccc,0 0 8px #66AFE9
}

.tab-button {
  width: 150px;
  padding: 6px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
  font-size: 20px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #cbcbcb;
}
.tab {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.tabs {
  text-align: center;
}

table {
  *border-collapse: collapse; /* 合并表格边框 */
  border-spacing: 0;
  /*width: 100%;*/
}
.bordered tbody tr:hover {
  background: #d6f3e9;
}
.bordered td, .bordered th {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  width: 120px
}
.bordered th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.bordered th {
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#ccc));
  text-shadow: 0 1px 0 #fff;
}
.bordered td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
tr:nth-of-type(odd) {
  background: #fff;
}
tr:nth-of-type(even) {
  background-color: #867ff1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f9fb), to(#fbfbfb));
}

.home {
  background-image: -webkit-linear-gradient(left,blue,#54B6FF 10%, #5599ff 20%,#66ffff 30%, #FF1600 40%, #00FFFF 50%,#FF1600 60%,#CC00CC 70%,#66ffff 80%,#54B6FF 90%,blue 100%);
  -webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
  -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s linear infinite;
  font-size: 30px;
  text-align: center;
}
@keyframes masked-animation {
  0% {
    background-position: 0  0;
  }
  100% {
    background-position: -100%  0;
  }
}
.registration {
  padding-bottom: 5%;
}
